---
layout: base-bigtext.njk
---

<div id="spacer"></div>
<div class="grid">
  <div class="grid-sizer"></div>
  <div class="grid-item grid-item--span biggy">
    <span class="title">{{ title }}</span>
  </div>
  {% for e in elements %}
  <div class="grid-item" style="width: {{ e.width }}px">
    <div class="biggy">
      <h2>
        <span>{{ e.title }}</span>
      </h2>
    </div>
    {% for p in e.text%}
    <p>{{ p }}</p>
    {% endfor %}
  </div>

  {% endfor%}
</div>
