<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Garrett Laroy Johnson" />
    <title>{{ title }}</title>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla&family=Righteous&family=Roboto+Mono:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script src="/assets/js/masonry.pkgd.min.js"></script>

    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="x-div">
      <a href="/index.html"><h1 class="x">X</h1></a>
    </div>
    {% if header %}
    <div>
      <img class="img-header" src="{{ header }}" />
    </div>
    {% endif %}
    <div id="content">
      <div class="grid">
        {{ content | safe }}
      </div>
    </div>

    <script>
      var msnry = new Masonry(".grid", {
        // options
        columnWidth: 300,
        itemSelector: ".grid-item",
        percentPosition: true,
      });
      msnry.layout();
    </script>

    <script
      src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
      integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA="
      crossorigin="anonymous"
    ></script>
    <script src="/assets/js/bigtext.js"></script>
    <script>
      bigTextLoad();
      msnry.layout();
    </script>
  </body>
</html>
