---
layout: base.njk
---

<div class="x-div">
  <a href="/index.html">
    <div class="x-div-2">
      <h1 class="x">X</h1>
    </div>
  </a>
</div>

{#
<div id="spacer"></div>
#}
<div class="row masonry grid" data-masonry='{"percentPosition": true }'>
  <div class="col-12 biggy">
    <span class="title">{{ title }}</span>
  </div>
</div>
{{ content | safe }}
