---
layout: base.njk
---

{# space holder for animation #}

<div id="spacer"></div>
<div class="grid">
  <div class="grid-sizer"></div>
  <div class="grid-item">
    <h1>The Center for Concrete and Abstract Machines</h1>
  </div>
  {% for e in elements %}
  <div class="grid-item cloud">
    <h2>{{ e.title }}</h2>
    <p>{{ e.text }}</p>
  </div>
  {% endfor%}
</div>
