---
layout: base.njk
---

<div class="x-div">
  <a href="../index.html">
    <div class="x-div-2">
      <h1 class="x">X</h1>
    </div>
  </a>
</div>

{% if sketch %}
<style>
  .content {
    background-color: rgba(255, 251, 241, 0.8);
  }
</style>
{% endif %}

<div class="content">
  {% if header %}
  <div>
    <img class="img-header grid-item" src="{{ header }}" />
  </div>
  {% elif headerFull %}
  <div>
    <img class="img-header-full grid-item" src="{{ headerFull }}" />
  </div>

  {% endif %}

  {{ content | safe }}
</div>

{% if sketch %}
<script src="{{ sketch }}"></script>
{% endif %}
