.img-header {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60%;
  height: auto;
}

.img-header-full {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: auto;
}

.nav {
  text-align: center;
}

.description {
  font-size: small;
}

#spacer {
  width: 100%;
  border: 0px;
}

.x-div {
  border-color: #2d2d2a;
  border: rgba(45, 45, 42, 1);
  background-color: rgba(239, 131, 84, 0.6);
  border-style: solid;
  position: fixed;
  overflow: hidden;
  top: 10px;
  right: 10%;
  z-index: 99;
  height: 45px;
  width: 50px;
}

.x-div-2 {
  position: absolute;

  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.x {
  font-size: 20;
  top: 50%;
}

.center {
  position: relative;
  top: 25%;
  bottom: 25%;
}

.x:hover {
  color: #ef8354;
}

.x-div:hover {
  background-color: rgba(242, 235, 241, 0.8);
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fffbf1;
}

canvas {
  position: absolute;
  z-index: -1 !important;
  top: 0px;
  display: block;
}

h1,
h2 {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  color: rgba(45, 45, 42, 1);
}

h3 {
  font-family: "Roboto Mono", monospace;
  text-align: left;
  color: rgba(45, 45, 42, 1);
}

span.title {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  text-align: center;
  color: rgba(239, 131, 84, 1);
}

p,
li {
  font-family: "Roboto Mono", monospace;
  text-align: left;
  line-height: 170%;
  /* font-weight: 600;
  color: rgba(239, 131, 84, 1);
  background-color: rgba(242, 235, 241, 0.8); */
}

span.subtitle {
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

p.learning,
h5.learning {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  color: rgba(45, 45, 42, 1);
}

div.study:hover {
  background-color: rgba(152, 206, 0, 1);
}

div.people:hover {
  background-color: rgba(239, 131, 84, 1);
}

h2.subtitle {
  color: rgba(239, 131, 84, 1);
  background-color: rgba(242, 235, 241, 0.8);
  text-align: left;
  z-index: -1!;
}

/* unvisited link */
a:link,
a:visited {
  color: rgba(239, 131, 84, 1);
  background-color: rgba(242, 235, 241, 0.8);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgba(242, 235, 241, 0.8);
  background-color: rgba(239, 131, 84, 1);
}

.event.filter {
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.event.filter:hover {
  -webkit-filter: grayscale(0%);
}

.filter-overlay {
  background-color: rgba(239, 131, 84, 0.1);
}

a.event {
  color: rgba(45, 45, 42, 1);
}
