.grid-sizer,
.grid-item {
  width: 33%;
}

#spacer {
  width: 100%;
  border: 0px;
}

.grid-item {
  /* border: 2px solid #2d2d2a; */
}

.grid-item--span {
  width: 100%;
  /* background-color: rgba(238, 229, 233, 0.7); */
}

.grid-spacer {
  height: 50%;
}

.x-div {
  border-color: rgba(45, 45, 42, 1);
}

.x {
  text-align: right;
  background-color: rgba(239, 131, 84, 1);
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fffbf1;
}

canvas {
  position: absolute;
  z-index: -1 !important;
  top: 0px;
  display: block;
}

#content {
  margin-left: 10%;
  margin-right: 10%;
}

#splash {
}

h1,
h2 {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  color: rgba(45, 45, 42, 1);
}

span.title {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  text-align: center;
  color: rgba(239, 131, 84, 1);
}

p {
  font-family: "Roboto Mono", monospace;
  line-height: 170%;
  font-size: large;
  font-weight: 600;
  color: rgba(239, 131, 84, 1);

  background-color: rgba(242, 235, 241, 0.8);
}

span.subtitle {
  background-color: rgba(242, 235, 241, 0.8);
}
