---
layout: page.njk
title: about
organizers : 
 - name: garrett laroy johnson
   img: garrett.png
   disc: sound and media artist, researcher, and theorist
 - name: kim nucci
   img: kim.jpg
   disc:  artist, composer, technologist
 - name: muindi fanuel muindi
   img: muindi.png
   disc: poet, philosopher, theatre-artist
---

<div class="row">
  <div class="col-12">
    <p>
      Nomadically based in Chicago, CCAM is an artist-run platform at the nexus
      of art, technology, and contemporary thought.
    </p>

    <p>
      CCAM’s primary goal is building an accessible community for the
      development and sharing of abstract ideas and forms of technical know-how,
      know-when, and know-why historically siloed in academia. Reciprocally,
      CCAM aims to hybridize the art, technology, and research cultures it
      borrows from the academy by drawing on and inviting in queer, anti-racist,
      and decolonial perspectives. By intentionally developing this community
      outside of the academy, CCAM seeks to break down barriers to access for
      engaging in research in art, technology, and surrounding criticism and
      theory. CCAMstrives to center queer, anti-racist, and decolonial
      perspectives in art and art technology.
    </p>

    <p>
      CCAM serves artists in our community by offering donation-based seminars,
      talks, and working groups investigating the liberatory potentials of
      different theories of art, science, and technology. In its workshop
      programming and future residency offerings, CCAM takes a para-academic
      approach that prioritizes transdisciplinary exchange between residents,
      mentors, and guests. CCAM’s focus on technology aims to provide artists
      with diverse and experimental approaches to expressive interactive media
      art creation. We build community through collaborative learning workshops
      and working groups focused on both bleeding-edge toolkits as well as DIY
      and open-source platforms for sound and video instrument composition.
    </p>
    <h1>organizers</h1>
  </div>
</div>

<div class="col-12">
  <h2 class="subtitle">organizational board</h2>
</div>

<ul>
  {% for o in organizers %} {% if c.data.published != false %}
  <a href="{{ c.url }}">
    <div class="row people">
      <div class="col-sm-4 p-1">
        <img src="/assets/img/people/{{ o.img }}" />
      </div>
      <div class="col-sm-4 p-1">
        <div class="center">
          <h2>
            <span>{{ o.name }}</span>
          </h2>
          <h5 class="learning">
            <span>{{ o.disc }}</span>
          </h5>
        </div>
      </div>
    </div>
  </a>
  {%endif%} {% endfor %}
</ul>
