---
layout: page.njk
title: about
elements:
  - title: overview
    width: 500
    text:
      - CCAM is an artist-run center for media arts research + practice founded Summer 2023. CCAM's mission is to create space for collective thinking and making with digital and analog technologies that refuses to collapse either into the other. Based in Chicago, CCAM looks to make paths for technical and theoretical exchange with practitioners and theorists around the world.
      - CCAM offers seminars, technical courses, and hosts working and critique groups. We organize symposia and group exhibitions, and co-sponsor performances and installations. In the future we look forward to offering transdisciplinary collaborative and intensive workshops, as well as microresidencies. We occupy a modest studio space and are in search of resources for a more robust shared physical space use.
  - title: why now?
    width: 250
    text:
      - Technical arts-research has fewer and fewer homes in the United States. Unlike Canada and Europe, funding categories never emerged. Despite a passing trend in academic programs, institututions are shorting their bets and doubling down on conservative arts disciplinarity or culture-industry aligned edu- or entertainment.
  - title: for whom?
    width: 250
    text:
      - CCAM is for artists, designers, theorists, dancers, technologists, futurists, historians.
      - CCAM is for anyone willing to go between play and rigor.
      - CCAM is for practitioners looking to grow their work's conceptual project and theorists looking to grow their work's practical dimensions.
  - title: by whom?
    width: 250
    text:
      - CCAM is an experiment in para-institutional organization. CCAM is currently operated by Garrett Laroy Johnson. They draw on organizational experiences with SloMoCo (slow movement and computing) and PHuN (the Posthuman Network).
  - title: concrete and abstract machines?
    width: 500
    text:
      - >
        a name is an infrastructure. Isabelle Stengers writes:
      - "Naming is a serious, that is, a pragmatic business, when it means giving to what is named the power to induce thinking and feeling in a particular way."
      - CCAM's name signals an adherance to Felix Guattari and Gilles Deleuze's proclamation for a machinic     ontology; that there is no such thing as the biosphere, there is no such thing as the noosphere, there is only the mechanisphere. Simply put, abstract machines are ideas, principles, concept, and feelings which might concretize into a material technical object. There is nothing else.

      - The concept of concrete and abstract machines allows us to think art-research and its stakes. Perhaps the most contemporary and relevant caveat emerging from this way of thinking comes to us in what Alfred North Whitehead calls "the fallacy of misplaced concreteness", in which we mistake what is thought for what is.
---

<div class="row masonry" data-masonry='{"percentPosition": true }'>
  {% for e in elements %}
  <div class="item col-xs-7 col-sm-5 col-md-4 py-1">
    <h3>{{ e.title }}</h3>

    {% for p in e.text%}

    <p>{{ p }}</p>

    {% endfor %}
  </div>
  {% endfor%}
</div>
